<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/faq.css}">
    <title>FragmentFooter</title>
</head>


<body>
    <footer th:fragment="footer(title)">
        <div class="footer-info">
            <div class="footer-logo" th:text="${title}">부3갈매기</div>
            <p>서울 강남구 삼성동 159 무역아카데미<br />wta.kdi3@gmail.com</p>
        </div>
        <div class="sns-icons">
            <img th:src="@{/images/footerImages/internet.svg}" alt="internet" />
            <img th:src="@{/images/footerImages/youtube.svg}" alt="youtube" />
            <img th:src="@{/images/footerImages/instagram.svg}" alt="instagram" />
        </div>
    </footer>
</body>

</html>