<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script defer th:src="@{/js/header.js}"></script>

    <script defer th:src="@{/js/translatorAll.js}"></script>

    <title>Navigation(배너)</title>
</head>

<body>
    <nav th:fragment="bu3_navigation" class="navbar">
        <div class="navbar_container">

            <div class="navbar_left">
                <div class="navbar_logo">
                    <a th:href="@{/}">
                        <img class="ship" src="/images/headerImages/shipLogo.png"
                            th:src="@{/images/headerImages/shipLogo.png}" alt="로고">
                        <img class="text" src="/images/headerImages/letterLogo.png"
                            th:src="@{/images/headerImages/letterLogo.png}" alt="로고">
                    </a>
                </div>
            </div>

            <div class="navbar_menu">
                <div class="nav_item has_submenu" data-active-path-prefix="/intro"
                    data-submenu-id="submenu_intro_wrapper">
                    <a th:href="@{/intro/service}" class="nav_link">소개</a>
                    <div id="submenu_intro_wrapper" class="submenu_wrapper">
                        <div id="submenu_intro" class="submenu">
                            <a th:href="@{/intro/service}" class="submenu_item">서비스 소개</a>
                            <a th:href="@{/intro/team}" class="submenu_item">팀 소개</a>
                        </div>
                    </div>
                </div>

                <div class="nav_item" data-active-path-prefix="/predict">
                    <a th:href="@{/predict/init}" class="nav_link">예측 서비스</a>
                </div>

                <div class="nav_item has_submenu" data-active-path-prefix="/port"
                    data-submenu-id="submenu_info_wrapper">
                    <a th:href="@{/port/info}" class="nav_link">부가정보</a>
                    <div id="submenu_info_wrapper" class="submenu_wrapper">
                        <div id="submenu_info" class="submenu">
                            <a th:href="@{/port/info}" class="submenu_item">날씨</a>
                            <a th:href="@{/port/info}" class="submenu_item">혼잡도</a>
                            <a th:href="@{/port/info}" class="submenu_item">운영 정보</a>
                        </div>
                    </div>
                </div>

                <div class="nav_item" data-active-path-prefix="/news">
                    <a th:href="@{/news/main}" class="nav_link">뉴스룸</a>
                </div>
                <div class="nav_item" data-active-path-prefix="/ask">
                    <a th:href="@{/ask}" class="nav_link">문의</a>
                </div>
            </div>

            <div class="navbar_right">
                <a th:href="@{/user/login}" class="login_button">로그인</a>
                <span>/</span>
                <a th:href="@{/user/join}" class="join_button">회원가입</a>
            </div>

            <div class="hamburger_menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

            <nav class="sub_nav">
                <div class="navbar_menu">
                    <div class="nav_item has_submenu" data-active-path-prefix="/intro"
                        data-submenu-id="submenu_intro_wrapper">
                        <a th:href="@{/intro/service}" class="nav_link">소개</a>
                        <div id="submenu_intro_wrapper" class="submenu_wrapper">
                            <div id="submenu_intro" class="submenu">
                                <a th:href="@{/intro/service}" class="submenu_item">서비스 소개</a>
                                <a th:href="@{/intro/team}" class="submenu_item">팀 소개</a>
                            </div>
                        </div>
                    </div>

                    <div class="nav_item" data-active-path-prefix="/predict">
                        <a th:href="@{/predict/init}" class="nav_link">예측 서비스</a>
                    </div>

                    <div class="nav_item has_submenu" data-active-path-prefix="/port"
                        data-submenu-id="submenu_info_wrapper">
                        <a th:href="@{/port/info}" class="nav_link">부가정보</a>
                        <div id="submenu_info_wrapper" class="submenu_wrapper">
                            <div id="submenu_info" class="submenu">
                                <a th:href="@{/port/info}" class="submenu_item">날씨</a>
                                <a th:href="@{/port/info}" class="submenu_item">혼잡도</a>
                                <a th:href="@{/port/info}" class="submenu_item">운영 정보</a>
                            </div>
                        </div>
                    </div>

                    <div class="nav_item" data-active-path-prefix="/news">
                        <a th:href="@{/news/main}" class="nav_link">뉴스룸</a>
                    </div>
                    <div class="nav_item" data-active-path-prefix="/ask">
                        <a th:href="@{/ask}" class="nav_link">문의</a>
                    </div>
                </div>
            </nav>

        </div>
    </nav>

</body>



</html>