/* .card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.info-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
} */