/* 전체 레이아웃 설정 */
.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 200px;
}

.login_container {
  background-color: #fcfcfd;
  border: 2px solid #0f1035;
  border-radius: 10px;
  width: 100%;
  max-width: 550px;
  /* max-height: 570px; */
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: strectch;
  padding: 0;
}

/* 로고 영역 */
.login_header {
  display: flex;
  /* 로고 이미지와 텍스트를 세로 방향으로 정렬 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /* 로고와 텍스트 사이 공간 조절 */
  background-color: #0f1035;
  height: 100%;
  width: 200px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}

.logo_icon {
  width: 35px;
  height: 35px;
}

.logo_text {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  /* 텍스트 굵게 */
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  /* 바깥쪽 여백. 다른 요소와 거리 조절 */
}

/* 폼 스타일 */
.login_form {
  display: flex;
  /* 세로 정렬 */
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 40px;
  flex-grow: 1;
}

/* 입력 필드 하나의 덩어리를 그룹화 */
.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* 에러 메시지가 표시될 때 */
.form_group.has_error {
  margin-bottom: 0;
}

/* 입력창의 높이와 테두리 스타일 통일 */
.form_label {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

.input_wrapper {
  position: relative;
  width: 100%;
}

.form_input {
  width: 100%;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #0f1035;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}

.form_input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
}

/* 경고 메세지 */
.error_message {
  color: #de0004;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px 0;
  min-height: 15px;
  /* 자리를 항상 확보해두기 위해 min-height 설정 */
  display: none;
}

.login_button {
  height: 35px;
  background-color: #0f1035;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  /* 클릭 가능한 스타일 */
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0 8px 0;
  transition: background-color 0.3s ease;
}

.login_button:hover {
  background-color: #013895;
}

.join_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 4px;
}

/* 링크 - 마우스 올리면 밑줄이 생김*/
.link_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.form_link {
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.form_link:hover {
  text-decoration: underline;
  color: #013895;
  font-weight: 700;
}

.link_separator {
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  position: relative;
  top: -1px;
}

.signup_prompt {
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

@media (max-width: 1440px) {
  .login-container {
    width: 650px;
    height: 590px;
  }
}

@media (max-width: 480px) {
  .login-page {
    padding: 0;
    align-items: flex-start;
  }

  .login-container {
    max-width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
    padding: 40px 20px;
    justify-content: center;
  }

  .logo-text {
    font-size: 26px;
  }

  .form-label {
    font-size: 18px;
  }

  .form-input::placeholder,
  .error-message,
  .form-link,
  .signup-prompt {
    font-size: 16px;
  }

  .login-button {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
}

.login_error_message {
  color: red;
  font-size: 14px;
  margin-bottom: 8px;
  /* 버튼과 간격 */
  text-align: center;
  /* 가운데 정렬 */
}