<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script defer th:src="@{/js/header.js}"></script>
    <title>소개 페이지</title>
</head>

<body>
    <div th:replace="~{/header :: bu3_navigation}"></div>

</body>

</html>